.boxes {
    height: 1px;
    width: 1px;
    border: 1px solid black;
    box-sizing: border-box;
}

.rows {
    display: flex;
    flex-direction: row;
    gap: 100px
}

.container {
    height: 1px;
    width: 1px;
    border: 1px solid blue;
    display: flex;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper {
    display: flex;
    gap: 100px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}